body{
    /* background-image: url("../theme_vert.png") ; */
    background-color: rgb(211, 253, 211);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-logo {
    margin-right: 10px;
}

.link{
    font-size:larger;
    color: black;
}

.navbar{
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #4b4c4d;
    position: relative;
    bottom: 0;
    width: 99%;
}

.nav-link:hover{
    font-size:larger;
    color: #198754;
}

.img{
    display: flex;
    margin:auto;
}

.texte{
    border-right: 2px solid #198754;
    padding-right: 5em;
    margin: 10px;
}

.btn{
    font-size:larger;
}

select {
    margin-inline: 0 20px;
}

.form-label{
    display: block;
}

form{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(5, 95, 53, 0.2);
    padding: 35px;
    border-radius: 15px;
}

h1{
    display: flex;
    justify-content: center;
}

.btn-success:hover{
    color:#198754;
    background-color: white;
    justify-content:center;
}

.btn-outline-success:hover{
    color:white;
    background-color: #198754;
    justify-content:center;
}

.btn-danger:hover{
    color:red;
    background-color: white;
    justify-content: center;
}

li{
    text-decoration: none;
    list-style:none;
}

.footer-basic {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #4b4c4d;
    position: relative;
    bottom: 0;
    width: 99%;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
}

.footer-basic li:hover {
    color:#198754;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
 
.footer-basic .copyright {
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

.href{
    text-decoration: none; 
    color: black;
}

/* #content {
    overflow-y: scroll;
} */