{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-center p-4 mt-4">
        {{ form_start(form, {'attr': {'class': 'col-5'}} ) }}
            <h1 class="h3 mb-3 font-weight-normal">Créer une annonce :</h1>
            {{ form_row(form.titre) }}
            {{ form_row(form.description) }}
            {{ form_row(form.images) }}
            <div class="d-flex justify-content-end">
                <button class="btn btn-success" type="submit">Créer une annonce</button>
            </div>
    </div>
</div>
{% endblock %}