{% extends 'base.html.twig' %}

{% block title %}Alimentation Chien{% endblock %}

{% block body %}
<h1 class="text-center my-3">L'alimentation du chien :</h1>

<div class="row">
    <h4>Les besoins nutritionnels du chien</h4>
    
    <p>Le chien a besoin d’une alimentation spécifique et équilibrée, adaptée à son âge, sa race, son activité physique et son état de santé.</p>
    <p>La qualité de l’alimentation du chiot est particulièrement importante compte tenu de sa vitesse de croissance très élevée jusqu’à l’âge de 4 à 6 mois.<br>Un déséquilibre nutritionnel chez le chiot pourrait conduire à des problèmes de santé, notamment ostéo-articulaires.</p>
    <p>Vous disposez de 2 solutions pour alimenter votre chien : la ration ménagère et la ration industrielle sous forme de croquettes.</p>
    <p>Toutefois, il n’est pas toujours facile d’équilibrer une alimentation ménagère, surtout pour les chiens de grande taille.</p>
    <p>Nous mettons à votre disposition des gammes d’aliments ayant toutes les qualités nutritionnelles pour répondre aux besoins de votre chien.<br>Dans ce cas, aucun apport complémentaire n’est nécessaire. Cette solution est aussi beaucoup plus pratique.</p>
    <p>Sachez également qu’il faut éviter de donner à manger à votre chien lorsque vous êtes à table, pour des raisons comportementales.<br>Le chien doit manger après ses maîtres.</p>
    <p>N’oubliez pas de toujours veiller à ce que votre chien ait à sa disposition de l’eau fraîche et propre.</p>
    <p>Nous sommes là pour vous conseiller sur l’alimentation la plus adaptée aux besoins de votre chien.<br>N’hésitez pas à nous en parler.</p>
</div>
{% endblock %}