{% extends 'base.html.twig' %}

{% block title %}Alimentation Reptiles herbivores{% endblock %}

{% block body %}
<h1 class="text-center my-3">L'alimentation des reptiles herbivores :</h1>

<div class="row">
    <h4>Menu riche en calcium des reptiles herbivores</h4>
    
    <p>L’alimentation doit se composer de 90 % de légumes pour 10% de fruits.</p>
    <p>Il faudra veiller à présenter des aliments variés, toujours frais, lavés des pesticides, renouvelés chaque jour et au moins trois parmi la liste ci-dessous :</p><br>
    <ul style="list-style: circle;">
        <li>Céleri branche</li>
        <li>Épinard</li>
        <li>Violettes</li>
        <li>Chou frisé</li>
        <li>Ortie blanche</li>
        <li>Plantai</li>
        <li>Kalanchoé</li>
        <li>Bégonia</li>
        <li>Hibiscus</li>
        <li>Luzerne</li>
        <li>Trèfle</li>
        <li>Pissenlit Tiges</li>
        <li>Cesson</li>
        <li>Endives</li>
        <li>Persil</li>
        <li>Trèfles feuilles</li>
        <li>Pétunia</li>
        <li>Feuilles de brocoli</li>
        <li>Blettes</li>
        <li>Fleurs</li>
        <li>Feuilles de betterave</li>
        <li>Feuilles de navet</li>
        <li>Figue fraîche</li>
        <li>Chou frisé (feuilles vertes)</li>
        <li>Orange épluchée</li>
        <li>Fourrage en grande quantité (bien vert sans poussières ni moisissures)</li>
    </ul>
    <p>Il sera important de rajouter un os de seiche (destiné aux oiseaux) et si nécessaire des vitamines mais celles-ci devront être dosées de façon précise car elles peuvent être très préjudiciable à l’individu.</p>
</div>
{% endblock %}