{% extends 'base.html.twig' %}

{% block title %}Alimentation Rongeurs herbivores{% endblock %}

{% block body %}
<h1 class="text-center my-3">L'alimentation des rongeurs herbivores :</h1>

<div class="row">
    <h4>Quelques verdures adaptées à des rongeurs herbivores</h4>
    
    <p>La base de l’alimentation de ces espèces est le FOIN, vous le choisirez de préférence « de prairie », non poussiéreux et non moisi (très dangereux).</p>
    <ul>
        <li>Si vous leurs donnez des légumes, veillez à ce qu’ils soient toujours frais, lavés des pesticides et choisissez les parmi la liste ci-dessous :</li>
        <li>Toutes salades (roquette, romaine, laitue, chicorée…)</li>
        <li>Chou frisé (feuilles et trognons)</li>   
        <li>Herbe à chat (avoine, blé)</li> 
        <li>Feuilles de pissenlit</li>    
        <li>Fanes de carottes ou de navets</li>  
        <li>Petites branches d’arbre sans noyaux (noisetiers, charme…)</li>  
        <li>Pomme</li>  
        <li>Blettes</li>  
        <li>Endives</li>  
        <li>Cerfeuil</li>  
        <li>Serpolet</li> 
        <li>Carottes</li> 
        <li>Cresson</li>
        <li>Persil</li>
        <li>Basilic</li>
        <li>Marjolaine</li>
        <li>Céleri branche ou rave</li>
        <li>Trèfles feuilles et fleurs</li>
        <li>Ceps de vigne</li>
        <li>Tiges et feuilles de brocoli</li>
        <li>En été : melon, concombre, pastèque et courgette, sans leur pépins pour être rajoutés pour désaltérer l’animal.</li>  
    </ul>
    <p>Des granulés adaptés seront proposés 15mn matin et soir.</p>
    <p>Supplémenter 2 fois par semaine avec Vitamine C pour les cochons d’Inde.</p>
    <p>La digestion étant primordiale dans ces espèces, rajouter 2 fois par semaine des prébiotiques.<br>Les deux simultanément dans l’eau de boisson.</p>
    <p>En cas de pathologie (même non digestive) les doses pourront être augmentées.</p>
</div>
{% endblock %}