{% extends 'base.html.twig' %}

{% block title %}Alimentation Rongeurs{% endblock %}

{% block body %}
<h1 class="text-center my-3">L'alimentation des rongeurs :</h1>

<div class="row">
    <h4>Les besoins nutritionnels des rongeurs</h4><br> 
    <p>Les rongeurs ont des besoins nutritionnels spécifiques pour rester en bonne santé.</p>
    <p><u>Voici quelques conseils pour vous aider à nourrir vos rongeurs de manière adéquate :</u></p>

    <ul style="list-style: circle;">
    
        <li><b>Aliments adaptés à l'espèce :</b><br>Les différents types de rongeurs, tels que les hamsters, les souris, les rats et les cochons d'Inde, ont des besoins nutritionnels spécifiques. Renseignez-vous sur les aliments recommandés pour l'espèce de rongeur que vous avez afin de leur fournir une alimentation adaptée à leurs besoins.</li>

        <br><li><b>Mélange de graines et granulés :</b><br>Un régime alimentaire équilibré pour les rongeurs comprend généralement un mélange de graines et de granulés commerciaux spécifiquement formulés pour eux. Les graines fournissent des nutriments essentiels, tandis que les granulés offrent une nutrition équilibrée. Suivez les recommandations du fabricant pour les portions et la fréquence des repas.</li>

        <br><li><b>Fruits et légumes frais :</b><br>Les rongeurs peuvent également consommer des fruits et légumes frais en complément de leur alimentation de base. Offrez une variété de fruits et légumes riches en fibres, tels que les carottes, les pommes, les poivrons et les épinards. Introduisez-les progressivement pour éviter les troubles digestifs.</li>

        <br><li><b>Évitez les aliments nocifs :</b><br>Certains aliments peuvent être nocifs pour les rongeurs. Évitez de donner à vos rongeurs des aliments tels que le chocolat, les produits laitiers, les agrumes, les aliments sucrés, les aliments épicés et les aliments salés. Assurez-vous également de ne pas leur donner d'aliments toxiques pour les humains, comme les avocats.</li>

        <br><li><b>Offrez des fibres :</b><br>Les rongeurs ont besoin d'une alimentation riche en fibres pour soutenir leur système digestif. Les aliments riches en fibres comprennent le foin de haute qualité, les légumes verts feuillus et certains légumes racines. Veillez à fournir à vos rongeurs une source de fibres adéquate pour favoriser leur santé digestive.</li>

        <br><li><b>Fournissez de l'eau fraîche :</b><br>Assurez-vous que vos rongeurs ont toujours accès à de l'eau propre et fraîche. Utilisez des biberons d'eau spécialement conçus pour les rongeurs pour éviter les renversements et les contaminations. Changez l'eau quotidiennement pour maintenir sa fraîcheur.</li>

        <br><li><b>Enrichissement alimentaire :</b><br>Les rongeurs ont besoin de stimulations mentales et physiques. Utilisez des jouets, des puzzles alimentaires et des balles pour les encourager à travailler pour leur nourriture. Cela les engage mentalement et les aide à rester actifs.</li>

        <br><li><b>Surveillez le poids :</b><br>Surveillez régulièrement le poids de vos rongeurs pour vous assurer qu'ils ne deviennent pas trop maigres ou en surpoids. Si vous observez des changements significatifs de poids, consultez un vétérinaire spécialisé en rongeurs pour obtenir des conseils supplémentaires.</li>

        <br><li><b>Consultez un vétérinaire :</b><br>Si vous avez des préoccupations concernant l'alimentation de vos rongeurs, n'hésitez pas à consulter un vétérinaire spécialisé en rongeurs. Ils pourront vous fournir des conseils adaptés à vos animaux de compagnie spécifiques.</li>
    </ul>

    <p>Gardez à l'esprit que ces conseils servent de lignes directrices générales. Chaque rongeur est unique, et il est important de prendre en compte leurs besoins individuels. Si vous avez des préoccupations ou des questions spécifiques concernant l'alimentation de vos rongeurs, consultez un vétérinaire spécialisé en rongeurs pour obtenir des conseils personnalisés.</p>
</div>
{% endblock %}