{% extends 'base.html.twig' %}

{% block title %}Bête de rencontre{% endblock %}

{% block body %}
<div class="container row img">
    <h1 class="text-center my-3">500</h1>
    <button class="btn btn-success mx-1 text-decoration-none" type="button" onclick="window.location.href='{{ path('app_home')}}'">Retour à la page d'accueil</button>
</div>
{% endblock %}