{% extends 'base.html.twig' %}

{% block title %}Fiches Conseils{% endblock %}

{% block body %}

<h1>Fiches Conseils ✅</h1>

<h4 style="text-align: center;">Voici toutes nos fiches conseils :</h4>
<div class="row">
    <ul>
        <li><h6>Alimentation :</h6></li>
        <li><a class="href" href="./eat/dog.html.twig">- Chien</a></li>
        <li><a class="href" href="./eat/cat.html.twig">- Chat</a></li>
        <li><a class="href" href="./eat/horse.html.twig">- Cheval</a></li>
    </ul>
    <ul>
        <li><h6>Reproduction :</h6></li>
        <li><a class="href" href="./breeding/dog.html.twig">- Chien</a></li>
        <li><a class="href" href="./breeding/cat.html.twig">- Chat</a></li>
        <li><a class="href" href="./breeding/horse.html.twig">- Cheval</a></li>
    </ul>
    <ul>
        <li><h6>Soins :</h6></li>
        <li><a class="href" href="./care/dog.html.twig">- Chien</a></li>
        <li><a class="href" href="./care/cat.html.twig">- Chat</a></li>
        <li><a class="href" href="./care/horse.html.twig">- Cheval</a></li>
    </ul>
</div>
{% endblock %}
