{% extends 'base.html.twig' %}

{% block title %}Soins Chat{% endblock %}

{% block body %}
<h1 class="text-center my-3">Les soins du chat :</h1>

<div class="row">
    <h4>AAA</h4><br> 
    <p>AAAAA</p></div>
{% endblock %}