{% extends 'base.html.twig' %}

{% block title %}Soins Chien{% endblock %}

{% block body %}
<h1 class="text-center my-3">Les soins du chien :</h1>

<div class="row">
    <h4>Les besoins santé du chien</h4><br>

    <p>Les chiens sont des animaux de compagnie adorables qui nécessitent des soins appropriés pour rester en bonne santé et heureux.</p>
    <p>Voici une liste complète de conseils sur le soin des chiens :</p>

    <ul style="list-style: circle;">

        <li><b>Environnement et sécurité :</b><br>
            <ul style="list-style: disc">
                <li>Assurez-vous que votre maison et votre jardin sont sécurisés en éliminant les objets dangereux, tels que les produits chimiques, les plantes toxiques et les fils électriques.</li>
                <li>Clôturez adéquatement votre jardin pour éviter les fugues et les accidents.</li>
                <li>Gardez les médicaments, les produits de nettoyage et autres substances potentiellement toxiques hors de portée des chiens.</li>
                <li>Identifiez votre chien avec un collier ou une puce électronique pour faciliter son retour en cas de perte.</li>
            </ul>
        </li>
        
        <br><li><b>Hygiène :</b><br>
            <ul style="list-style: disc">
                <li>Brossez régulièrement le pelage de votre chien pour éliminer les poils morts et prévenir les nœuds. La fréquence dépend du type de pelage.</li>
                <li>Lavez votre chien lorsque cela est nécessaire en utilisant un shampooing doux spécialement formulé pour les chiens.</li>
                <li>Nettoyez les oreilles de votre chien régulièrement pour prévenir les infections. N'utilisez jamais d'objets pointus ou de cotons-tiges à l'intérieur de l'oreille.</li>
                <li>Coupez les griffes de votre chien si elles deviennent trop longues. Si vous n'êtes pas à l'aise, demandez l'aide d'un vétérinaire ou d'un toiletteur.</li>
            </ul>
        </li>
        
        <br><li><b>Soins dentaires :</b><br>
            <ul style="list-style: disc">
                <li>Brossez régulièrement les dents de votre chien avec une brosse à dents et un dentifrice spécialement conçus pour les chiens. Commencez progressivement pour habituer votre chien à cette routine.</li>
                <li>Offrez à votre chien des jouets à mâcher appropriés pour favoriser une bonne hygiène dentaire et réduire l'accumulation de tartre.</li>
            </ul>
        </li>
        
        <br><li><b>Gestion des parasites :</b><br>
        <ul style="list-style: disc">
                <li>Appliquez régulièrement un traitement antiparasitaire recommandé par votre vétérinaire pour protéger votre chien contre les puces, les tiques et les vers.</li>
                <li>Vérifiez régulièrement la peau de votre chien pour détecter les signes de parasites externes, de démangeaisons ou de rougeurs.</li>
            </ul>
        </li>
        
        <br><li><b>Exercice et stimulation :</b><br>
        <ul style="list-style: disc">
                <li>Assurez-vous que votre chien bénéficie d'exercice régulier adapté à son âge, sa race et sa condition physique.</li>
                <li>Offrez à votre chien des jouets interactifs et des activités mentales stimulantes pour prévenir l'ennui et favoriser son bien-être.</li>
                <li>Pratiquez la socialisation en exposant votre chien à différentes personnes, animaux et environnements dès son plus jeune âge.</li>
            </ul>
        </li>
        
        <br><li><b>Soins médicaux :</b><br>
        <ul style="list-style: disc">
                <li>Assurez-vous que votre chien est à jour dans ses vaccinations recommandées par votre vétérinaire.</li>
                <li>Planifiez des visites régulières chez le vétérinaire pour des examens de santé préventifs et des rappels de vaccins.</li>
                <li>Surveillez les signes de maladie ou de douleur chez votre chien et consultez un vétérinaire si vous remarquez des changements inquiétants.</li>
            </ul>
        </li>
        
        <br><li><b>Amour et attention :</b><br>
        <ul style="list-style: disc">
                <li>Accordez à votre chien une attention, une affection et une compagnie suffisantes pour maintenir son bien-être émotionnel.</li>
                <li>Consacrez du temps chaque jour à jouer, caresser et interagir avec votre chien.</li>
            </ul>
        </li>
        
    </ul>

    <p>Chaque chien est unique, il est donc essentiel d'adapter ces conseils en fonction des besoins spécifiques de votre compagnon canin. Si vous avez des questions ou des préoccupations sur la santé ou le bien-être de votre chien, consultez toujours un vétérinaire qualifié.</p>
</div>
{% endblock %}