{% extends 'base.html.twig' %}

{% block title %}Soins Cheval{% endblock %}

{% block body %}
<h1 class="text-center my-3">Les soins du cheval :</h1>

<div class="row">
    <h4>Les besoins santé du cheval</h4><br>

    <p>Les chevaux sont des animaux majestueux qui nécessitent des soins appropriés pour leur bien-être et leur santé.</p>
    <p><u>Voici une liste complète de conseils sur le soin des chevaux :</u></p>

    <ul style="list-style: circle;">

        <li><b>Hébergement et environnement :</b><br>
            <ul style="list-style: disc">
                <li>Assurez-vous que l'écurie ou l'abri de votre cheval offre suffisamment d'espace pour qu'il puisse se déplacer et se coucher confortablement.</li>
                <li>Veillez à ce que le sol soit propre, sec et exempt d'obstacles pouvant causer des blessures.</li>
                <li>Offrez un accès à de l'eau propre et fraîche en tout temps.</li>
                <li>Fournissez un espace extérieur, tel qu'un paddock ou un pré, pour permettre à votre cheval de se dégourdir les jambes et de brouter de l'herbe.</li>
            </ul>
        </li>
        
        <br><li><b>Soins du pelage et de la peau :</b><br>
            <ul style="list-style: disc">
                <li>Brossez régulièrement le pelage de votre cheval pour éliminer les poils morts et la saleté. Utilisez des brosses adaptées à la sensibilité de sa peau.</li>
                <li>Vérifiez la peau de votre cheval pour détecter les irritations, les plaies ou les infections. Consultez un vétérinaire si vous observez des problèmes.</li>
            </ul>
        </li>
        
        <br><li><b>Soins des sabots :</b><br>
            <ul style="list-style: disc">
                <li>Faites entretenir les sabots de votre cheval par un maréchal-ferrant professionnel régulièrement pour maintenir une bonne santé du pied.</li>
                <li>Nettoyez régulièrement les sabots de votre cheval pour éliminer la saleté et les cailloux. Surveillez les signes de boiterie ou de douleur.</li>
            </ul>
        </li>
        
        <br><li><b>Vaccinations et soins vétérinaires :</b><br>
        <ul style="list-style: disc">
                <li>Consultez régulièrement un vétérinaire pour les vaccinations recommandées et les examens de santé préventifs.</li>
                <li>Suivez un calendrier de vermifugation approprié pour prévenir les infestations parasitaires.</li>
            </ul>
        </li>
        
        <br><li><b>Alimentation et hydratation :</b><br>
        <ul style="list-style: disc">
                <li>Offrez à votre cheval une alimentation équilibrée et adaptée à ses besoins nutritionnels. Consultez un vétérinaire ou un nutritionniste équin pour obtenir des recommandations spécifiques.</li>
                <li>Fournissez un accès à de l'eau fraîche et propre en tout temps, que ce soit à l'écurie ou au pâturage.</li>
            </ul>
        </li>
        
        <br><li><b>Exercice et sortie :</b><br>
        <ul style="list-style: disc">
                <li>Assurez-vous que votre cheval bénéficie d'exercice régulier pour maintenir sa condition physique et mentale.</li>
                <li>Offrez-lui des sorties au paddock ou au pré pour brouter de l'herbe et se déplacer librement.</li>
            </ul>
        </li>
        
        <br><li><b>Soins émotionnels et sociaux :</b><br>
        <ul style="list-style: disc">
                <li>Offrez à votre cheval suffisamment de temps de socialisation avec d'autres chevaux, dans la mesure du possible.</li>
                <li>Assurez-vous que votre cheval reçoit une attention, des caresses et des interactions régulières pour favoriser son bien-être émotionnel.</li>
            </ul>
        </li>
        
    </ul>

    <p>Chaque cheval a des besoins individuels, il est donc important d'adapter ces conseils en fonction de son âge, de sa race et de ses conditions de vie spécifiques. Si vous avez des questions ou des préoccupations sur la santé ou le bien-être de votre cheval, consultez toujours un vétérinaire équin qualifié.</p>
</div>
{% endblock %}