{% extends 'base.html.twig' %}

{% block title %}Soins Cheval{% endblock %}

{% block body %}
<h1 class="text-center my-3">Les soins du cheval :</h1>

<div class="row">
    <h4>AAA</h4><br> 
    <p>AAAAA</p></div>
{% endblock %}