{% extends 'base.html.twig' %}

{% block title %}Soins Reptiles{% endblock %}

{% block body %}
<h1 class="text-center my-3">Les soins des reptiles :</h1>

<div class="row">
    <h4>Les besoins santé des reptiles</h4><br>

    <p>Les reptiles, tels que les lézards, les serpents et les tortues, sont des animaux fascinants qui nécessitent des soins spécifiques pour leur bien-être et leur santé. </p>
    <p>Voici une liste complète de conseils sur le soin des reptiles :</p>

    <ul style="list-style: circle;">

        <li><b>Habitat et environnement :</b><br>
            <ul style="list-style: disc">
                <li>Fournissez à votre reptile un terrarium ou un habitat approprié, adapté à sa taille et à ses besoins spécifiques.</li>
                <li>Assurez-vous que le terrarium offre suffisamment d'espace pour que le reptile puisse se déplacer, se cacher et se reposer confortablement.</li>
                <li>Contrôlez les paramètres de température et d'humidité pour recréer les conditions appropriées à l'espèce de votre reptile.</li>
                <li>Utilisez des substrats adaptés et faciles à nettoyer pour maintenir un environnement hygiénique.</li>
            </ul>
        </li>
        
        <br><li><b>Alimentation :</b><br>
            <ul style="list-style: disc">
                <li>Offrez une alimentation adaptée à l'espèce de votre reptile. Renseignez-vous sur ses besoins spécifiques en termes de régime alimentaire.</li>
                <li>Fournissez une variété d'aliments frais, tels que des insectes, des légumes, des fruits et, le cas échéant, des proies vivantes ou congelées.</li>
                <li>Veillez à ce que la taille des proies soit adaptée à la taille de votre reptile pour éviter les problèmes de digestion.</li>
            </ul>
        </li>
        
        <br><li><b>Hydratation :</b><br>
            <ul style="list-style: disc">
                <li>Assurez-vous que votre reptile a accès à de l'eau propre et fraîche en tout temps. La méthode d'approvisionnement en eau dépendra de l'espèce de reptile.</li>
                <li>Vaporisez régulièrement l'habitat de votre reptile pour maintenir l'humidité nécessaire. Certains reptiles ont besoin de bains réguliers pour s'hydrater.</li>
            </ul>
        </li>
        
        <br><li><b>Éclairage et chauffage :</b><br>
        <ul style="list-style: disc">
                <li>Fournissez un éclairage adéquat pour votre reptile, en tenant compte des besoins en lumière naturelle et en UVB spécifiques à son espèce.</li>
                <li>Utilisez des lampes chauffantes ou des tapis chauffants pour maintenir une température ambiante appropriée et créer des zones de chaleur et de fraîcheur dans le terrarium.</li>
            </ul>
        </li>
        
        <br><li><b>Enrichissement :</b><br>
        <ul style="list-style: disc">
                <li>Offrez des accessoires appropriés à votre reptile, tels que des branches, des cachettes, des rochers et des substrats texturés pour permettre l'exploration et le comportement naturel.</li>
                <li>Stimulez mentalement votre reptile en ajoutant des éléments de recherche de nourriture ou d'interaction, adaptés à son espèce.</li>
            </ul>
        </li>
        
        <br><li><b>Soins de la peau et des griffes :</b><br>
        <ul style="list-style: disc">
                <li>Veillez à ce que votre reptile ait la possibilité de se baigner, de se prélasser et de se frotter contre des surfaces rugueuses pour faciliter la mue de sa peau.</li>
                <li>Si nécessaire, coupez les griffes de votre reptile avec précaution pour éviter qu'elles ne deviennent trop longues et entraînent des blessures.</li>
            </ul>
        </li>
        
        <br><li><b>Surveillance et soins vétérinaires :</b><br>
        <ul style="list-style: disc">
                <li>Surveillez attentivement l'appétit, les habitudes d'excrétion et le comportement général de votre reptile. Tout changement significatif peut indiquer un problème de santé.</li>
                <li>Consultez un vétérinaire spécialisé en reptiles régulièrement pour des examens de santé préventifs et pour toute préoccupation liée à la santé de votre reptile.</li>
            </ul>
        </li>
        
    </ul>

    <p>Il est important de se renseigner sur les besoins spécifiques de votre espèce de reptile, car ils peuvent varier considérablement. Si vous avez des questions ou des préoccupations sur la santé ou le bien-être de votre reptile, consultez un vétérinaire spécialisé en animaux exotiques ou en reptiles.</p>
</div>
{% endblock %}