{% extends 'base.html.twig' %}

{% block title %}Soins Rongeurs{% endblock %}

{% block body %}
<h1 class="text-center my-3">Les soins des rongeurs :</h1>

<div class="row">
    <h4>Les besoins santé des rongeurs</h4><br>

    <p>Les rongeurs, tels que les hamsters, les cochons d'Inde et les lapins nains, sont des animaux de compagnie populaires et adorables.</p>
    <p><u>Voici une liste complète de conseils sur le soin des rongeurs :</u></p>

    <ul style="list-style: circle;">

        <li><b>Habitat et environnement :</b><br>
            <ul style="list-style: disc">
                <li>Fournissez à votre rongeur une cage ou un habitat approprié, suffisamment spacieux pour qu'il puisse se déplacer, se cacher et se reposer confortablement.</li>
                <li>Assurez-vous que la cage est sécurisée et qu'il n'y a pas de trous ou d'espaces où le rongeur pourrait s'échapper.</li>
                <li>Disposez des litières propres et absorbantes dans la cage et changez-les régulièrement.</li>
                <li>Placez la cage dans un endroit calme, à l'abri des courants d'air et des températures extrêmes.</li>
            </ul>
        </li>
        
        <br><li><b>Alimentation :</b><br>
            <ul style="list-style: disc">
                <li>Offrez une alimentation équilibrée et adaptée aux besoins spécifiques de votre rongeur. Consultez un vétérinaire ou un spécialiste des rongeurs pour obtenir des recommandations précises.</li>
                <li>Fournissez une variété de légumes frais, de foin de qualité et d'aliments commerciaux spécifiques à l'espèce de rongeur.</li>
                <li>Limitez les friandises et les aliments riches en sucre pour éviter les problèmes de santé tels que l'obésité et les troubles dentaires.</li>
            </ul>
        </li>
        
        <br><li><b>Hygiène :</b><br>
            <ul style="list-style: disc">
                <li>Nettoyez régulièrement la cage, les mangeoires, les abreuvoirs et les accessoires de votre rongeur pour maintenir un environnement propre et sain.</li>
                <li>Assurez-vous que votre rongeur a accès à de l'eau propre et fraîche en tout temps. Changez l'eau quotidiennement.</li>
                <li>Lavez-vous les mains avant et après avoir manipulé votre rongeur pour prévenir la transmission de maladies.</li>
            </ul>
        </li>
        
        <br><li><b>Enrichissement et exercice :</b><br>
        <ul style="list-style: disc">
                <li>Offrez à votre rongeur des jouets adaptés à son espèce pour favoriser l'enrichissement et stimuler son esprit.</li>
                <li>Fournissez des opportunités d'exercice en installant des roues d'exercice ou en laissant votre rongeur explorer un espace sécurisé sous surveillance.</li>
            </ul>
        </li>
        
        <br><li><b>Soins dentaires :</b><br>
        <ul style="list-style: disc">
                <li>Les dents des rongeurs poussent continuellement, assurez-vous donc que votre rongeur a accès à du foin de qualité et à des jouets à mâcher pour aider à l'usure naturelle de ses dents.</li>
                <li>Surveillez les signes de problèmes dentaires tels que la difficulté à manger, la salivation excessive ou les dents trop longues. Consultez un vétérinaire en cas de problème.</li>
            </ul>
        </li>
        
        <br><li><b>Interaction et socialisation :</b><br>
        <ul style="list-style: disc">
                <li>Interagissez régulièrement avec votre rongeur pour établir un lien de confiance et favoriser son bien-être émotionnel.</li>
                <li>Offrez-lui des périodes de sortie et d'exploration sous surveillance pour lui permettre de se dégourdir les jambes et d'explorer de nouveaux environnements.</li>
            </ul>
        </li>
        
    </ul>

    <p>Chaque espèce de rongeur a des besoins spécifiques, il est donc important de se renseigner sur les besoins particuliers de votre animal de compagnie. Si vous avez des questions ou des préoccupations sur la santé ou le bien-être de votre rongeur, consultez un vétérinaire spécialisé dans les petits animaux.</p>
</div>
{% endblock %}