<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{{ path('app_about') }}">Qui Sommes-Nous ?</a></li>
            <li class="list-inline-item"><a href="{{ path('app_mentions') }}">Mentions légales et règlement</a></li>
            <li class="list-inline-item"><a href="{{ path('app_accessibilite') }}">Politique d'accessibilité</a></li>
        </ul>
        <p class="copyright">2023  © Bête de Rencontre</p>
    </footer>
</div>