{% extends 'base.html.twig' %}

{% block title %}Bête de rencontre{% endblock %}

{% block body %}
<h1 class="text-center my-3">A Propos</h1>
<div class="container">
    <div class="text-center mx-auto">
        <h2><b>Qui Sommes-Nous ?</b></h2>
        <p>Chez <b>Bête de Rencontre</b>, nous sommes une équipe de passionnés d'animaux qui ont décidé de créer un nouveau site de mise en relation et d'aide pour la reproduction animale.</p>
        <img src="{{ asset('about.jpg') }}" style="width: 50%" alt="Image">
        <h2><b>Notre Histoire</b></h2>
        <p>Notre site est né d'une passion commune pour les animaux et le désir d'aider les propriétaires d'animaux à trouver des partenaires de reproduction sûrs et fiables. Nous comprenons que la reproduction animale peut être un processus compliqué et délicat, c'est pourquoi nous avons créé cette plateforme pour faciliter la mise en relation entre les éleveurs d'animaux et les propriétaires.</p>
        <p>Nous sommes également soucieux de la confidentialité des données des utilisateurs et nous travaillons en permanence pour garantir la sécurité des informations personnelles que vous nous confiez.</p>
        <p>Mais ce n'est pas tout ! Nous avons également une grande expérience dans la création de sites de rencontre pour les humains, alors nous avons pensé que ça pourrait être amusant de faire la même chose pour nos amis à quatre pattes ! Nous ne pouvons pas promettre de ne pas ronronner de plaisir lorsque nous aurons réussi à mettre en relation le compagnon idéal pour votre animal de compagnie.</p>
        <h2><b>Notre Mission</b></h2>
        <p>Notre mission est de fournir une plateforme conviviale et sécurisée pour aider les propriétaires d'animaux de compagnie à trouver des partenaires de reproduction de confiance pour leurs animaux bien-aimés. Nous prenons notre mission très au sérieux et nous nous engageons à fournir des informations précises et à respecter les normes de santé et de sécurité pour les animaux. </p>
        <p>Nos fiches conseils sont soigneusement élaborées pour offrir les meilleurs conseils aux propriétaires d'animaux de compagnie pour leur permettre de prendre soin de leurs animaux.</p>
        <p>Nous sommes passionnés par ce que nous faisons et nous espérons que notre site vous aidera à trouver le partenaire de reproduction idéal pour votre animal de compagnie. N'hésitez pas à nous contacter si vous avez des questions ou des commentaires, nous sommes toujours prêts à vous aider.</p>
        <p>Et rejoignez-nous maintenant et trouvez la bête de reproduction idéale pour votre animal de compagnie !</p>
        <h2><b>Contactez Nous</b></h2>
        <ul class="list-unstyled">
            <li>M. LEGEAY Pierre & CHEVRIER Clément</li>
            <li>5 bis Avenue Marcel Proust</li>
            <li>28000 Chartres</li>
            <li>France</li>
            <li>Tel : 06 06 06 06 06</li>
            <li>Email : contact@betederencontre.com</li>
        </ul>
    </div>
</div>
{% endblock %}