{% extends 'base.html.twig' %}

{% block title %}Bête de rencontre{% endblock %}

{% block body %}
<h1 class="text-center my-3"><b>Accessibilité</b></h1>
<div class="container">
    <div class="text-center mx-auto">
        <p>Le site<b> Bête de Rencontre </b>est prévu pour être parfaitement compatible avec tous les navigateurs récents du marché supportant HTML 5 et CSS 3.</p>
        <p><b>Bête de Rencontre</b> respecte le vocabulaire et la grammaire XHTML et CSS préconisé par le W3C, notamment des directives pour l'accessibilité aux contenus web édictées par l'initiative WAI. Grâce à cela, ce site est consultable par tous, de manière équivalente, quels que soient l'interface, le navigateur, le matériel (plage braille, synthèse vocale, etc.) ou les déficiences des internautes.</p>
        <p>Un site conforme aux normes d'accessibilité profite à tous les internautes. En voici quelques avantages :</p>
        <ul  class="list-unstyled">
            <li>le contenu du site est logique et hiérarchisé,</li>
            <li>les pages sont en général 30 à 80% plus rapide à afficher,</li>
            <li>le site est indépendant du navigateur web utilisé.</li>
        </ul>
        <h2><b>Navigation et liens</b></h2>
         <ul  class="list-unstyled">
            <li>Depuis chaque page, vous avez accès aux principales sections et sous-sections de ce site. Tout contenu est accessible depuis n’importe quelle autre page en 3 clics.</li>
            <li>Le menu de navigation reflète la structure de l’information. Il est présent sur chaque page, et facilite l’accès à l’ensemble du site en permanence.</li>
            <li>Les liens apparentés sont regroupés logiquement et structurellement.</li>
        </ul>
    </div>
</div>
{% endblock %}