{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h1 class="text-center my-3"><b>Mentions légales</b></h1>
<div class="container">
    <div class="text-center mx-auto">
		<p>Ce site est l'entière propriété de <strong>M. LEGEAY Pierre & CHEVRIER Clément</strong>.
        <p>Toute reproduction, même partielle, de ce site est strictement interdite.</p>
        <h2><b>Le site Internet <b>Bête de Rencontre</b> est édité par :</b></h2>
        <ul class="list-unstyled">
            <li>M. LEGEAY Pierre & CHEVRIER Clément</li>
            <li>5 bis Avenue Marcel Proust</li>
            <li>28000 Chartres</li>
            <li>France</li>
            <li>Tel : 06 06 06 06 06</li>
            <li>Email : contact@betederencontre.com</li>
        </ul>
        <h2><b>IDENTIFICATION DU SITE</b></h2>
        <p>Les informations suivantes sont fournies en vertu de l’Article 6 de LOI n° 2004-575 du 21 juin 2004 pour la Confiance dans l'Economie Numérique.</p>

        <h2><b>ACCEPTATION DES CONDITIONS D’UTILISATION</b></h2>
        <p><b>Bête de Rencontre</b>, site de rencontre pour animaux détient et exploite ce site web. Son utilisation implique que vous acceptez l’ensemble des termes, conditions et notifications contenus et cités dans ce document. Ces conditions générales d’utilisation ne s’appliquent qu’au site web et aux services de ce site, et à aucun site tiers.</p>
        <p>Si vous n’acceptez pas ces conditions d’utilisation, veuillez ne pas utiliser les services de ce site. Nous nous réservons le droit, à notre discrétion, de mettre à jour ou de modifier les conditions d’utilisation. Par conséquent, veuillez vérifier régulièrement ces dernières afin de savoir si elles ont été modifiées. Nous considérons que vous acceptez une modification des conditions d’utilisation si vous continuez à utiliser le site après publication de cette modification.</p>
        
        <h2><b>INSCRIPTION</b></h2>
        <p>Le propriétaire s’engage à communiquer des informations conformes et réelles.<p>
        <p>En cas de changement, l’utilisateur se doit de modifier les informations concernées par le biais de son compte personnel. L’inscription sur <b>Bête de Rencontre</b> est sans limite dans le temps.</p>
        <p>Ne pouvant s’assurer de l’identité des utilisateurs des différentes fonctions du site, <b>Bête de Rencontre</b> n’est pas responsable en cas d’usurpation d’identité d’un propriétaire.</p>
        
        <h2><b>DROITS DE PROPRIETE</b></h2>
        <p>Vous reconnaissez et acceptez que l’ensemble du contenu et des éléments disponibles sur ce site, mais de façon non limitative, les cartes, les programmes et logiciels, les bases de données, le texte, les photos, les films, les sons, la musique, la présentation et les logos - sont protégés par des copyrights, droits de protection de base de données, marques déposées, marques de service, brevets, secrets industriels ou autres droits et lois sur la propriété. Le contenu et les éléments disponibles sont, soit exclusivement détenus et contrôlés par <b>Bête de Rencontre</b>, soit utilisés sous licence. Ces conditions d’utilisation s’appliquent à tout le contenu et à tous les éléments disponibles sur le Site.</p>
        <p>De plus, lorsque vous utilisez un contenu et des éléments sous licence d’un tiers, il est possible que vous soyez lié par les contrats de licence de ce dernier. Lorsque vous recevez des informations provenant d’un tiers, l’identité de celui-ci vous est indiquée par un logo ou par une autre indication.</p>
        <p>L’utilisateur s’interdit de copier, reproduire ou d’utiliser pour quelques motifs que ce soit les contenus relatifs aux autres propriétaires autrement que par les stricts besoins d’utilisation des services à des fins personnelles et privées.</p>
        
        <h2><b>CONCESSION DE LICENCE LIMITEE</b></h2>
        <p>Le contenu et les éléments disponibles sur ce site peuvent contenir d’autres avis de propriété ou décrire des produits, services, processus ou technologies appartenant à des tiers. Aucune partie du présent document ne doit être considérée comme constituant une licence accordée à l’utilisateur sur un copyright, une marque, un brevet ou tout autre droit de propriété intellectuelle détenu par une tierce partie, à l’exception du droit d’utilisation limité qui est expressément défini ci-dessous: </p>
        <p>Dans le cadre d’une licence non exclusive et non transférable, vous êtes autorisé à imprimer ou à télécharger un exemplaire des éléments ou du contenu de ce site vers un seul ordinateur individuel pour votre utilisation personnelle et non commerciale, à condition que vous gardiez intacts tous les avis de copyright et de propriété, et ce sous peine de poursuites judiciaires. Vous pouvez utiliser le site à des fins légales et pour votre utilisation personnelle, mais en aucun cas dans un but lucratif ou commercial. Si vous souhaitez des éléments d’information pour rédiger un article sur le site, un dossier presse est disponible à votre demande.</p>
        <p>Vous vous engagez à ne jamais vendre, céder sous licence, louer, distribuer, transmettre, copier, reproduire, présenter publiquement, exécuter publiquement, publier, adapter, éditer, modifier, décompiler , désassembler ce contenu ou ces éléments, et à ne jamais reconstituer la logique du programme, ni créer d’oeuvre dérivée à partir de ce contenu ou de ces éléments. Vous vous engagez à ne jamais utiliser le contenu ou les éléments disponibles sur le site dans un quelconque but commercial. La récupération systématique de données ou autre depuis ce site pour créer ou établir, directement ou indirectement, une collection, une compilation, une base de données ou un répertoire sans l’autorisation écrite de <b>Bête de Rencontre</b> est interdite.</p>
        <p>En outre, l’utilisation du contenu ou des éléments à toute fin non expressément autorisée dans ces conditions d’utilisation est interdite. Vous ne jouissez d’aucun droit de propriété sur le contenu, les éléments et leurs dérivés, et <b>Bête de Rencontre</b> est le seul détenteur de tels droits.</p>
        <p>Le non-respect de l’une des clauses de ces conditions d’utilisation mettra fin à cette licence automatiquement et sans préavis de la part de <b>Bête de Rencontre</b>.</p>
        <p>En publiant, soumettant ou transmettant de toute autre manière des informations, un contenu ou des éléments vers ce site, y compris, mais de façon non limitative, des feedbacks (retour d’informations), données, réponses, questions, commentaires, suggestions, projets, idées, etc.,<p>
        <ul class="list-unstyled">
            <li>1. sauf cas prévu par la loi, vous autorisez l’Editeur du Site, ses sociétés mères et affiliées, filiales et titulaires de licence, à utiliser, reproduire, afficher, exécuter, adapter, modifier, distribuer, faire distribuer et promouvoir les informations, le contenu ou les éléments sous quelque forme que ce soit, en quelque lieu que ce soit et pour quelque but commercial ou non que ce soit, sans émettre de restriction ni attendre de compensation, et </li>
            <li>2. vous garantissez et déclarez que vous possédez, ou contrôlez d’une autre manière, tous les droits liés au contenu et que la diffusion publique et l’utilisation de votre contenu par l’Editeur du Site n’affectera et n’enfreindra pas les droits d’un tiers.</li> 
        </ul>
        
        <h2><b>UTILISATION DU SITE WEB</b></h2>
        <p>Une fois que vous êtes inscrit(e) sur <b>Bête de Rencontre</b>, vous devenez membre du site et devez respecter les règles suivantes :</p>
        <ul class="list-unstyled">
            <li>Vous devez vous conformer aux lois en vigueur et respecter les droits des tiers.</li>
            <li>Vous ne devez en aucun cas utiliser <b>Bête de Rencontre</b> à des fins commerciales. </li>
            <li>Vous ne devez en aucun cas utiliser <b>Bête de Rencontre</b> pour transmettre des idées à caractère pédophile, raciste, pornographique ou portant atteinte à la dignité humaine. </li>
            <li>Vous ne devez en aucun cas tricher sur votre identité en usurpant des données d'autres personnes. </li>
            <li>Vous ne devez en aucun cas transmettre de données personnelles au travers de vos annonces et photos. </li>
            <li>Vous ne devez en aucun cas utiliser <b>Bête de Rencontre</b> pour porter atteinte à une personne, un logo, une marque ou une société. </li>
            <li>Vous ne devez pas diffuser sous quelque forme que ce soit tout contenu contraire à l’objet du site. </li>
            <li>Vous ne devez en aucun cas porter atteinte au site <b>Bête de Rencontre</b> en diffusant sous quelque forme que se soit des informations ou contenus ayant pour effet de diminuer, de désorganiser, d’empêcher l’utilisation normale des services, d’interrompre ou de ralentir la circulation normale des communications entre propriétaires par l’intermédiaire des services, comme des logiciels, virus, bombes logiques, envois massifs de messages…</li>
            <li>Vous devez respecter chaque membre du site et ne pas user de moyens psychologiques envers eux.</li>
        </ul>
        <p>Si <b>Bête de Rencontre</b> juge qu'un des membres ne respecte pas ces conditions, il se réserve le droit de bloquer les informations des propriétaires concernés, d’automatiquement supprimer des messages litigieux, de bloquer l’accès à tout ou parti des services, de façon temporaire ou définitive, sans contrepartie ni remboursement.</p>
        <p>Il est du droit de chaque membre de prévenir <b>Bête de Rencontre</b> si un membre vient à l'encontre de ces conditions.</p>
        <p><b>Bête de Rencontre</b> ne peut être tenu pour responsable des fausses déclarations faites aux utilisateurs. Il est donc important de prendre certaines précautions, lors de rencontres avec d’autres propriétaires. <b>Bête de Rencontre</b> se dégage de toute responsabilité lors de rencontres entre propriétaires. Il est recommandé pour une première rencontre, de choisir un lieu public.</p>
        <p><b>Bête de Rencontre</b> rappelle aux utilisateurs qu’il faut être prudent lors de la divulgation des informations permettant leur identification, comme les noms de famille, adresse mail ou postale, téléphone ou autres propriétés par l’intermédiaire du site.</p>
        
        <h2><b>RESILIATION</b></h2>
        <p>Chaque utilisateur peut résilier son inscription aux différents services du Site à tout moment et sans motif. Pour cela, il suffit de contacter <b>Bête de Rencontre</b> par mail.</p>
        <p><b>Bête de Rencontre</b> se réserve le droit de résilier toute fiche personnelle et sans préavis dans le cas où un propriétaire diffuserait ou utiliserait les services du Site en portant atteinte à son image de marque.</p>
        <p>Ces conditions d'utilisation constituent l’intégralité des droits et obligations de <b>Bête de Rencontre</b> et de l'utilisateur relatif à leur objet.</p>
        <p>En cas de non-respect de celles-ci par un utilisateur, <b>Bête de Rencontre</b> se réserve le droit de résilier la fiche de l'utilisateur ou la fiche d’annonce déposée, sans préavis et sans remboursement pour l’annonce où référencement dans l’annuaire, si les présentes conditions ne sont pas respectées. Cette résiliation interviendra de plein droit.</p>
        <p>L'utilisateur sera informé par email de la résiliation de son compte par <b>Bête de Rencontre</b> ou la confirmation de la résiliation à sa demande.</p>
        <p>Les informations ou données relatives au propriétaire pourront être alors supprimé.</p>
        
        <h2><b>VIE PRIVÉE ET PROTECTION DES DONNEES DE L'UTILISATEUR</b></h2>
        <p><b>Bête de Rencontre</b> respecte les normes les plus contraignantes de protection de la vie privée et a fait l'objet d'une déclaration à la Commission Nationale de l'Informatique et des Libertés.</p>
        <p>Chaque Utilisateur peut, par courrier postal ou par courrier électronique en prenant le soin d’indiquer son adresse email, accéder ou demander à accéder aux informations le concernant pour les faire modifier ou supprimer.<br>
        
        <h2><b>EXCLUSION DE GARANTIE</b></h2>
        <p>Tout contenu est propre au site <b>Bête de Rencontre</b>. Ce site peut contenir des inexactitudes techniques ou des erreurs typographiques. <b>Bête de Rencontre</b> se réserve le droit de modifier ou de supprimer toute information ou contenu apparaissant sur ce site sans avis préalable. Ni <b>Bête de Rencontre</b> ni ses fournisseurs de contenu, ni la société prestataire des services Internet permettant de faire fonctionner cette application web, n’offrent de garantie quant à leur contenu. L’utilisateur assume tous les risques d’utilisation.</p>
        <p>Aucune responsabilité incombe à <b>Bête de Rencontre</b>, à ses fournisseurs, ou ses prestataires de services, quant à l’utilisation des éléments d’information contenus dans ce site Web.</p>
        <p><b>Bête de Rencontre</b> ne garanti pas que les services fonctionnent sans interruption ni erreur de fonctionnement. En particulier, leur exploitation pourra être momentanément interrompue pour cause de maintenance, de mise à jour, d’améliorations techniques ou pour faire évoluer le contenu et/ou la présentation. L’utilisateur renonce à rechercher la responsabilité de <b>Bête de Rencontre</b>, de l'hébergeur, ou de la société prestataire des services Internet au titre du fonctionnement et de l’exploitation des services. De même <b>Bête de Rencontre</b> ou l'hébergeur ne seraient être responsable d’un non fonctionnement et impossibilité d’accès, ou de mauvaise condition d’utilisation du site imputables à un équipement non adapté, à des disfonctionnement internes au fournisseur d’accès de l’utilisateur, à l’encombrement du réseau Internet et pour toute autre raison extérieure au Site.</p>
        <p>LE CONTENU ET LES ELEMENTS FOURNIS SUR CE SITE NE SONT SANS AUCUNE GARANTIE, IMPLICITE OU EXPLICITE. AUCUN AVIS NI AUCUNE INFORMATION FOURNIS PAR <b>BETE DE RENCONTRE</b> OU L’HEBERGEUR, LEURS SOCIETES MÈRES OU AFFILIEES OU LEURS EMPLOYES RESPECTIFS NE PEUT CREER DE GARANTIE. NI <b>Bête de Rencontre</b>, NI L’HEBERGEUR NE GARANTISSENT LA PRECISION, LA FIABILITE ET L’EXACTITUDE DU CONTENU ET DES ELEMENTS DU SITE; NI L’ABSENCE DE VIRUS OU D’AUTRE ELEMENT NUISIBLE DANS LE CONTENU, LES INFORMATIONS ET LES LOGICIELS, ET DANS TOUT ELEMENT ACCESSIBLE À PARTIR DU SITE.</p>
        
        <h2><b>LIMITATION DE RESPONSABILITE</b></h2>
        <p>Les informations communiquées par l'utilisateur doivent être conformes et réelles. Les conséquences de la divulgation des informations sont à la responsabilité exclusive de l'utilisateur concerné. <b>Bête de Rencontre</b> ne peut être tenu pour responsable de la conformité ou la non-conformité des informations et contenus fournis par les utilisateurs du Site. <b>Bête de Rencontre</b> ne peut être tenu responsable des contenus diffusés par les utilisateurs susceptibles de contrevenir aux droits d’autres propriétaires.</p>
        
        <h2><b>TEXTES DE LOI EN VIGUEUR </b></h2>
        
        <h3><b>Article 276-3</b></h3>
        <p>(Loi n° 89-412 du 22 juin 1989 art. 17 II Journal Officiel du 24 juin 1989)</p>
        <p>(Loi n° 99-5 du 6 janvier 1999 art. 13 Journal Officiel du 7 janvier 1999) </p>
        <h4><b>I.</b></h4>
        <p>Au titre du présent code, on entend par animal de compagnie tout animal détenu ou destiné à être détenu par l'homme pour son agrément.</p>
        <h4><b>II.</b></h4>
        <p>Au titre du présent code, on entend par refuge un établissement à but non lucratif géré par une fondation ou une association de protection des animaux désignée à cet effet par le préfet, accueillant et prenant en charge des animaux soit en provenance d'une fourrière à l'issue des délais de garde fixés aux articles 213-3 et 213-4, soit donnés par leur propriétaire.</p>
        <h4><b>III.</b></h4>
        <p>Au titre du présent code, on entend par élevage de chiens ou de chats l'activité consistant à détenir des femelles reproductrices et donnant lieu à la vente d'au moins deux portées d'animaux par an.</p>
        <h4><b>IV.</b></h4>
        <p>La gestion d'une fourrière ou d'un refuge, l'élevage, l'exercice à titre commercial des activités de vente, de transit ou de garde, d'éducation, de dressage et de présentation au public de chiens et de chats :</p>
        <ul class="list-unstyled">
            <li>font l'objet d'une déclaration au préfet ;</li>
            <li>sont subordonnés à la mise en place et à l'utilisation d'installations conformes aux règles sanitaires et de protection animale pour ces animaux ;</li>
            <li>ne peuvent s'exercer que si au moins une personne, en contact direct avec les animaux, possède un certificat de capacité attestant de ses connaissances relatives aux besoins biologiques, physiologiques, comportementaux et à l'entretien des animaux de compagnie. Ce certificat est délivré par l'autorité administrative, qui statue au vu des connaissances ou de la formation, et notamment des diplômes ou de l'expérience professionnelle d'au moins trois ans des postulants.</li>
        </ul>
        <p>Les mêmes dispositions s'appliquent pour l'exercice à titre commercial des activités de vente et de présentation au public des autres animaux de compagnie d'espèces domestiques.</p>
        <p>Les établissements où s'exerce le toilettage des chiens et des chats sont soumis aux dispositions figurant aux deuxième et troisième alinéas du présent paragraphe.</p>
        <h4><b>V.</b></h4>
        <p>Les personnes qui, sans exercer les activités mentionnées au III, détiennent plus de neuf chiens sevrés doivent mettre en place et utiliser des installations conformes aux règles sanitaires et de protection animale pour ces animaux.</p>
        <h4><b>VI.</b></h4>
        <p>Seules les associations de protection des animaux reconnues d'utilité publique ou les fondations ayant pour objet la protection des animaux peuvent gérer des établissements dans lesquels les actes vétérinaires sont dispensés gratuitement aux animaux des personnes dépourvues de ressources suffisantes.</p>
        <p>La gestion de ces établissements est subordonnée à une déclaration auprès du préfet du département où ils sont installés.</p>
        <p>Les conditions sanitaires et les modalités de contrôle correspondantes sont fixées par décret en Conseil d'Etat.</p>
        
        <h3><b>Article 276-7</b></h3>
        <p>(Inséré par Loi n° 99-5 du 6 janvier 1999 art. 17 Journal Officiel du 7 janvier 1999)</p>
        <p>Sont habilités à rechercher et constater les infractions aux dispositions des articles 276-4 (premier alinéa), 276-5 et 276-6 et des textes pris pour leur application :</p>
        <ul class="list-unstyled">
            <li>les officiers et les agents de police judiciaire agissant dans les conditions prévues au code de procédure pénale ;</li>
            <li>les agents cités aux articles 283-1 et 283-2 du présent code ;</li>
            <li>les agents de la direction générale de la concurrence, de la consommation et de la répression des fraudes agissant dans les conditions prévues aux articles L 215-3 et L 217-10 du code de la consommation et dans les lieux où s'exercent les activités visées au IV de l' article 276-3, au premier alinéa de l' article 276-4 et à l' article 276-5 ;</li>
            <li>les agents assermentés et commissionnés de l'Office national de la chasse et du Conseil supérieur de la pêche.</li>
        </ul>
        
        <h2><b>SITES TIERS </b></h2>
        <p>Aucune référence à des produits, services, processus, liens hypertexte de tiers ou autre information par citation d’un nom de marque, d’une marque déposée, d’un fabricant, d’un fournisseur ou autre ne constitue ni ne sous-entend une approbation, caution ou recommandation de la part dE <b>Bête de Rencontre</b>, de ses sociétés mères ou affiliées, filiales ou concédants de licence. De plus, le site peut vous mettre en relation avec d’autres sites Internet par le biais notamment de recherches automatiques, mais ces sites ne sont pas sous le contrôle de <b>Bête de Rencontre</b>. Vous reconnaissez que <b>Bête de Rencontre</b> n’est pas responsable de l’exactitude, du respect de copyright, de la légalité, de la décence ou de tout autre aspect des sites tiers.</p>
        <p>Toute difficulté relative à un lien doit être soumise à l’administrateur du site ou au webmaster du site dont il s’agit. Il est rappelé par ailleurs que la consultation ou/et l’utilisation de ces sites et sources externes sont régies par leurs propres conditions d’utilisation. Si dans le cas d’une recherche conduite sur le site <b>Bête de Rencontre</b>, le résultat de celle-ci amenait l’utilisateur à pointer sur des sites, pages ou des forums dont le titre et/ou les contenus constituent une violation du droit français, l’utilisateur peut/doit contacter au plus vite le webmaster pour qu’il puisse le supprimer et est invité à interrompre sa consultation du site concerné au risque de voir sa responsabilité engagée.</p>
        <p>Tout lien hypertexte provenant d’un site tiers et aboutissant sur ce Site nécessite l’accord préalable de <b>Bête de Rencontre</b>, et en particulier les liens vers une page autre que la page d’accueil. La demande d’un tel accord peut être faite en adressant un courrier à l’aide du formulaire de contact disponible sur ce site.</p>
        
        <h2><b>CONSENTEMENT DE L’UTILISATEUR RELATIF A LA VERIFICATION ET LA DIVULGATION </b></h2>
        <p><b>Bête de Rencontre</b> n’a pas d’obligation de vérification des informations résidant sur son site ou transmises à celui-ci. Cependant, toute personne utilisant le site accepte que <b>Bête de Rencontre</b> vérifie périodiquement le contenu de celui-ci, (1) pour se conformer à une loi, à un règlement ou à une demande des autorités; (2) pour faire fonctionner le site correctement ou pour se protéger et protéger ses utilisateurs; ou (3) pour toute autre raison, à sa seule discrétion. <b>Bête de Rencontre</b> se réserve le droit de modifier, de refuser ou de supprimer toute information résidant sur le site ou transmise à celui-ci si <b>Bête de Rencontre</b> considère, à sa seule discrétion, que cette information est inacceptable ou en infraction avec les présentes conditions d’utilisation.</p>
        <p>Sauf cas prévu par la loi, si un utilisateur des données de ce site fournit à ce site des informations, y compris, mais de façon non limitative, des données, réponses, questions, commentaires, suggestions, projets, idées, etc., ces informations seront considérées comme non confidentielles et <b>Bête de Rencontre</b> ne s’engage pas à les protéger de la divulgation.</p>
        
        <h2><b>PROCEDURE DE RECLAMATION POUR CONTREFAÇON </b></h2>
        <p>Si vous pensez que votre travail a été copié et qu’il est accessible sur ce site d’une manière constituant une contrefaçon, vous pouvez en informer <b>Bête de Rencontre</b> par l’intermédiaire du formulaire de contact mis à disposition sur ce site.</p>
        
        <h2><b>LOI APPLICABLE ET TRIBUNAL COMPETENT </b></h2>
        <p>Le présent accord est régi exclusivement par les lois françaises.</p>
        <p>Vous reconnaissez de manière irrévocable par les présentes que tout litige découlant, directement ou indirectement, ou lié de quelque manière que ce soit à l'utilisation des services de <b>Bête de Rencontre</b>, relèvera de la compétence exclusive des tribunaux français y compris, sans que cette énumération soit limitative, leur validité, leur interprétation, leur exécution et/ou leur résiliation et ses conséquences, même en cas de pluralité de défendeurs, d'appel en garantie et de référé.</p>
        
        <h2><b>AVIS DE COPYRIGHT ET DE MARQUES DEPOSEES </b></h2>
        <h3><b>Copyrights</b></h3>
        <p>La reproduction de tout élément du présent site ou de tout autre contenu se trouvant sur le site web autre que ceux expressément envisagés dans le présent document est strictement interdite. L’utilisation de tous les documents et graphiques associés ainsi que de tout autre élément fourni sur ce site web est soumise aux conditions d’utilisation figurant ci-dessus.</p>
        <h4><b>Marques déposées</b></h4>
        <p><b>Bête de Rencontre</b> est une marque déposée auprès de l'I.N.P.I.</p>
        <p>Le nom <b>Bête de Rencontre</b>, son logo, ainsi que tous les noms de produits et de services, dessins marques et slogans s’y rapportant sont des marques déposées, marques de service ou marques de commerce déposées et ils ne peuvent pas être utilisés à des fins commerciales sans consentement écrit préalable. Toutes les autres marques de produits et de services de ce site sont des marques déposées de leurs propriétaires respectifs.</p>
        <h4><b>AUTRES AVIS DE COPYRIGHTS</b></h4>
        <p>Les autres avis de copyright concernent les données provenant de tiers utilisées pour créer ce service Internet.</p>
        
        <h2><b>CONTACT</b></h2>
        <p>Pour obtenir davantage d’informations relatives aux questions juridiques contenues dans ces conditions d’utilisation, ou à des questions ou problèmes concernant ce service, veuillez écrire en utilisant le formulaire de contact mis à votre disposition sur ce Site.</p>
        <p>Conformément à la loi n° 78-17 du 6.01.78 CNIL n°311 563, vous pouvez à tout moment exercer votre droit d'accès ou de rectification des informations vous concernant en nous envoyant un email.</p>
    </div>
</div>
{% endblock %}